:root{
  --azul-link: #0073e6
}
.menu__link {
  display: inline-block;
  color: #333333;
  padding: 0.25rem 1rem;
}
.menu__link.ativo{
  border-bottom: 2px solid var(--azul-link);
  
}
.menu__link::after{
  content: '';
  display: block;
  /* border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%; */
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--azul-link);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.menu__link:hover::after{
  transform: scaleX(1);
}